.slideshow-title {
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
}

.main-btn {
    background-color: #F9A51A;
    color: #000;
}

.slideshow-img {
    border: 4px solid #F9A51A;
    border-radius: 30px;
}

