.home__background {
    background-image: url('../../images/image/background.png'), linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5));
    height: 100%;
    background-size: 100% 100%;
    background-blend-mode: overlay; 
}

/* RESPONSIVE-AREA */

@media (max-width: 576px) {
    .home__background {
        background: linear-gradient(to right, #00223E, #FFA17F);
        height: 100%;
        background-size: 100%;
    }
}