
.login-form {
    margin: 50px auto;
    padding: 3%;
    border-radius: 5px;
    border: 2px solid #C4C4C4;
}
  
.form input {
    margin: 15px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
}

.sign-btn {
    text-align: left;
    margin: 5px 0;
    font-weight: 500;
    width: 350px;
    color: #000;
    border-radius: 30px;
    border: 1px solid #C4C4C4; 
}

.sign-btn img {
    margin-right: 15%;
    height: 30px;
}



/* RESPONSIVE-AREA */
@media (max-width: 372px) {
    .sign-btn {
        font-size: 14px;
        width: 250px;
    }
    .sign-btn img {
        margin-right: 5%;
        height: 25px;
    }    
}